# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github.com\hive-school\template-jetbrains-ide-course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/aws.xml
/misc.xml
/sonarIssues.xml
/libraries
